.timeCeo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.timeColaboradores{
    text-align: center;
    margin-top: 3rem;
}
.timeContainer{
    margin-top: 5rem;
    background-color: #f5f5f5;
    padding: 50px;
    margin: 0 5rem 0 5rem;
}

.timeImg{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.timeImgMargem{
    margin-left: 10px;
}
