.beneficios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 8rem;
  margin-top: 50px;
}

.textBeneficios {
  text-align: justify;
  padding: 0 25px;
}

.beneficiosColuna {
  text-align: center;
  color: #808080;
}

.saibaColuna {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 95px;
}

.saiba {
  text-align: center;
  margin-top: 50px;
}

.imagemFesta {
  margin: 60px 0 60px;
}

.footer {
  background-color: #f9a90e;
  padding: 7px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin-top: 50px;
}

.footerLinkedin {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin-top: -12rem;
  margin-bottom: 10rem;
  font-size: 3.5rem;
  color: #fff;
  text-shadow: 0.5px 0.5px 6px black;
}

.textCinza, .subTitle {
  color: #808080;
  font-size: 1.2rem;
}

.textLink {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.textVerde {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 2rem;
}

.textCEO, .subTitle {
  text-transform: uppercase;
}

.textNome {
  font-style: italic;
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.linha {
  color: #c0c0c0;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.textContainer {
  width: 33%;
  margin-left: 40px;
}

.text {
  font-size: 1.2rem;
}

.verde {
  color: #03BB85;
}

.cinza {
  color: #808080;
}

.amarelo {
  color: #ffb515;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .img {
  width: 80%;
}

header .text {
  width: 75%;
}

.timeCeo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.textCEO {
  font-weight: bold;
}

.timeColaboradores {
  text-align: center;
  margin-top: 3rem;
}

.timeContainer {
  margin-top: 5rem;
  background-color: #f5f5f5;
  padding: 50px;
  margin: 2rem 10rem 0 10rem;
}

.timeImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3rem;
}

.timeImgMargem {
  margin-left: 10px;
}

.vaga {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.textNomeVaga {
  font-size: 1.2rem;
  text-decoration: none;
}

.textLinkVagas {
  margin-top: 0;
  text-decoration: none;
}

.containerVagas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: -webkit-center;
}

.titleVagas {
  margin-top: 20px;
  text-align: center;
}

.subTitleVagas, .subTitleBeneficios {
  margin: 20px 0 50px;
}

.subTitle {
  margin: 10px 0 50px;
}

.subTitleVagas {
  width: 53%;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  h1 {
    margin-top: -3rem;
    margin-bottom: 4rem;
    font-size: 1.7rem;
  }
  .textContainer {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .timeContainer {
    margin-top: 0;
  }
  .timeImgMargem {
    margin-left: 0;
  }
  .lista {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .imagemFesta {
    width: 100%;
  }
  .vaga {
    width: 100%;
    display: block;
  }
  .subTitle {
    width: 100%;
  }
  .subTitle {
    margin: 10px 0 10px;
  }
  .timeContainer {
    padding: 1rem;
    margin: 2rem 1rem 2rem 1rem;
  }
}
/*# sourceMappingURL=main.css.map */