.beneficios{
  display: flex;
  justify-content: center;
  padding: 0 8rem;
  margin-top: 50px;
}
.textBeneficios{
  text-align: justify;
  width: 93%;
}
.beneficiosColuna{
  margin-left: 25px;
  text-align: center;
  color: #808080;
}
.saibaColuna{
  display: flex;
  flex-direction: column;
  align-items: center;
}